@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dotAnimation {
    0% {
      content: '.';
    }
    33% {
      content: '..';
    }
    66% {
      content: '...';
    }
    100% {
      content: '.';
    }
  }
  
  .dot-animation::after {
    content: '.';
    animation: dotAnimation 1.5s infinite;
  }
  